<!-- begin sections-wrapper__slide -->
    <div class="sections-wrapper__slide  js-screen">
        <!-- begin screen-slide -->
        <div class="screen-slide js-screen-content">
            <!-- begin screen-slide__inner -->
            <div class="screen-slide__inner">
                <!-- begin l -->
                <div class="l">
                    <div class="l-col-list">
                        <div class="l-col">
                            <div class="screen-slide__title-wrap">
                                <h2 class="screen-slide-title title js-screen-title">CHSB Token</h2>
                            </div>
                            <p class="screen-slide__title-text" data-stagger="stagger">CHSB (SwissBorg Network Token) is
                                a multi-utility token used to participate in the SwissBorg network.</p>
                        </div>
                        <div class="l-col">
                            <div class="logos-plate" data-stagger="stagger">
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/cex.png" alt="1"/></a></div>
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/dash.png" alt="1"/></a></div>
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/exmo.png" alt="1"/></a></div>
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/cex.png" alt="1"/></a></div>
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/dash.png" alt="1"/></a></div>
                              <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/exmo.png" alt="1"/></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- end l-col-list -->
                </div>
                <!-- end l -->

                <!-- begin l -->
                <div class="l">
                    <!-- begin l-col-list -->
                    <div class="l-col-list screen-slide__cols">
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img">
                                    {{ mixins.image('participate') }}
                                    <!--<img src="img/about/participate.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text"><strong>Participatein</strong> our referendums and
                                    earn tokens in reward
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img">
                                    {{ mixins.image('get') }}
                                    <!--<img src="img/about/get.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text"><strong>Get</strong> priority access to our future
                                    wealth management products
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img">
                                    {{ mixins.image('additional') }}
                                    <!--<img src="img/about/additional.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text"><strong>Additional</strong> incentives such as
                                    future airdrops
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end l -->
            </div>
            <!-- end screen-slide__inner -->
        </div>
        <!-- end screen-slide -->
    </div>
    <!-- end sections-wrapper__slide -->
