    <!-- begin sections-wrapper__slide -->
    <div class="sections-wrapper__slide  js-screen">
        <!-- begin screen-slide -->
        <div class="screen-slide screen-slide_pb-sm screen-slide_vertical js-screen-content">
            <!-- begin l -->
            <div class="l">
                <div class="l-col-list">
                    <div class="l-col">
                        <div class="screen-slide__title-wrap">
                            <h2 class="screen-slide-title title js-screen-title">CHSB Token</h2>
                        </div>
                        <p class="screen-slide__title-text screen-slide__title-text_small" data-stagger="stagger">CHSB
                            (SwissBorg Network Token) is a multi-utility token used to participate in the SwissBorg
                        network.</p>
                    </div>
                    <div class="l-col">
                        <div class="logos-plate" data-stagger="stagger">
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/cex.png" alt="1"/></a></div>
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/dash.png" alt="1"/></a></div>
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/exmo.png" alt="1"/></a></div>
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/cex.png" alt="1"/></a></div>
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/dash.png" alt="1"/></a></div>
                            <div class="logos-plate__item"><a href="#" target="_blank" ><img src="img/about/exmo.png" alt="1"/></a></div>
                        </div>
                    </div>
                </div>
                <div class="centered" data-stagger="stagger">
                    <a href="#" class="button button_primary">BUY TOKEN</a>
                </div>
            </div>
            <!-- end l -->
        </div>
        <!-- end screen-slide -->
    </div>
    <!-- end sections-wrapper__slide -->
