    <!-- begin sections-wrapper__slide -->
    <div class="sections-wrapper__slide   js-screen">
        <!-- begin screen-slide -->
        <div class="screen-slide js-screen-content">
            <!-- begin screen-slide__inner -->
            <div class="screen-slide__inner">
                <!-- begin l -->
                <div class="l">
                    <div class="l-col-list">
                        <div class="l-col">
                            <div class="screen-slide__title-wrap"><h2 class="screen-slide-title title js-screen-title">
                                Why Join The Community Now?</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end l -->
                <!-- begin l -->
                <div class="l">
                    <!-- begin l-col-list -->
                    <div class="l-col-list screen-slide__cols screen-slide__cols_mt-sm">
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img screen-slide-col__img_number">
                                    <img src="img/about/1.svg" alt="1"/>
                                </div>
                                <div class="screen-slide-col__text">SwissBorg is bridging the best of two worlds: wealth
                                    management services and blockchain technology
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img screen-slide-col__img_number">
                                    <img src="img/about/2.svg" alt="1"/>
                                </div>
                                <div class="screen-slide-col__text">
                                    Wealth management is on the verge of digital disruption
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img screen-slide-col__img_number">
                                    <img src="img/about/3.svg" alt="1"/>
                                </div>
                                <div class="screen-slide-col__text">We are at the beginning of a new era, DAO's are
                                    growing at an exponential rate
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img screen-slide-col__img_number">
                                    <img src="img/about/4.svg" alt="1"/>
                                </div>
                                <div class="screen-slide-col__text">Investment platforms powered by smart contracts are
                                    the future
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  l-col-list__item_33" data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img screen-slide-col__img_number">
                                    <img src="img/about/5.svg" alt="1"/>
                                </div>
                                <div class="screen-slide-col__text">Be part of a community where your voice counts
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end l-col-list -->
                </div>
                <!-- end l -->
            </div>
            <!-- end screen-slide__inner -->

        </div>
        <!-- end screen-slide -->
    </div>
    <!-- end sections-wrapper__slide -->
