  <!-- begin sections-wrapper__slide -->
    <div class="sections-wrapper__slide   js-screen">
        <!-- begin screen-slide -->
        <div class="screen-slide js-screen-content">
            <!-- begin screen-slide__inner -->
            <div class="screen-slide__inner">
                <!-- begin l -->
                <div class="l">
                    <div class="l-col-list">
                        <div class="l-col">
                            <div class="screen-slide__title-wrap"><h2 class="screen-slide-title title js-screen-title">
                                Why Join The Community Now?</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end l -->
                <!-- begin l -->
                <div class="l">
                    <!-- begin l-col-list -->
                    <div class="l-col-list screen-slide__cols ">
                        <div class="screen-slide-col l-col-list__item  " data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img ">
                                    {{ mixins.image('tokenAbout') }}
                                    <!--<img src="img/about/tokenAbout.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text screen-slide-col__text_mob-center">
                                    <strong>CHSB Token</strong>
                                    ERC-20
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  " data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img ">
                                    {{ mixins.image('totalSupply') }}
                                    <!--<img src="img/about/totalSupply.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text screen-slide-col__text_mob-center">
                                    <strong>Total Supply</strong>
                                    1,000,000,000 Tokens
                                    <i>(650,000,000 circulating)</i>
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  " data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img ">
                                    {{ mixins.image('icoAbout') }}
                                    <!--<img src="img/about/icoAbout.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text screen-slide-col__text_mob-center">
                                    <strong>ICO Hard Cap Reached</strong>
                                    50,000,000 CHF
                                </div>
                            </div>
                        </div>
                        <div class="screen-slide-col l-col-list__item  " data-stagger="stagger">
                            <div class="screen-slide-col__inner">
                                <div class="screen-slide-col__img ">
                                    {{ mixins.image('community') }}
                                    <!--<img src="img/about/community.svg" alt="1"/>-->
                                </div>
                                <div class="screen-slide-col__text screen-slide-col__text_mob-center">
                                    <strong>Strong Community</strong>
                                    Over 20k participants from 75 countries.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end l-col-list -->
                </div>
                <!-- end l -->
            </div>
            <!-- end screen-slide__inner -->

        </div>
        <!-- end screen-slide -->
    </div>
    <!-- end sections-wrapper__slide -->
