---
title: Knowledge center
header_dark: true

hero: [
    {
        title: 'Knowledge centre',
        titleWhite: true,
        text: '<p>Learn more about SwissBorg, solutions and products. Explore how different industry participants can integrate with SwissBorg to bypass structural inefficiencies to lower costs, improve processing capabilities and reduce settlement risk.</p>'
    }
]

docs: [
    {
        title: 'Swissborg Documents',
        texts: [
            {
                title: 'Brochures',
                links: ['Name document']
            },
            {
                title: 'One-Pagers',
                links: ['Commercial Use Cases', 'Liquidity Provisioning']
            },
            {
                title: 'Case Studies',
                links: ['SBI Remit', 'Santander', 'ReiseBank']
            }
        ],
        subtitle: 'Videos',
        videos: [
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-1',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-2',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-3',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-4',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-5',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-6',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-7',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            }
        ]
    },
    {
        title: 'CHSB Documents',
        texts: [
            {
                title: 'Papers',
                links: ['The Cost-Cutting Case for Banks']
            },
            {
                title: 'CHSB Symbol',
                links: ['Download']
            }
        ],
        subtitle: 'Videos',
        videos: [
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-8',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-9',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-10',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-11',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-12',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-13',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-14',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            }
        ]
    },
    {
        special: true,
        title: 'The SwissBorg Crypto Show',
        text: 'Get the lowdown from innovators and business leaders from the “off-chain” and “on-chain” world.',
        subtitle: 'Podcasts',
        videos: [
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-15',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-16',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-17',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-18',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-19',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-20',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            },
            {
                poster: 'img/poster.jpg',
                text: 'SwissBorg to Launch QuizzBorg: Risk Assessment Survey',
                date: 'Aug 7',
                modal: 'video-21',
                video: 'https://www.youtube.com/embed/668nUCeBHyY'
            }
        ]
    }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/_header.html" %}

    <main class="main knowledge">
        {% for item in hero %}
            {% include "partials/_page-hero.html" %}
        {% endfor %}

        {% include "partials/_section-docs.html" %}
    </main>

    {% include "partials/_footer.html" %}

{% endblock %}
