<!-- begin section -->
<div class="section list-block">
    <div class="l">
        <div class="list-block__in">
            <h3 class="list-block__title title">We Believe In...</h3>
            <div class="list-block__text text text_other">
                <ul>
                    <li>Proactivity rather than bureaucracy </li>
                    <li>Meritocracy over hierarchy </li>
                    <li>Being Community-centric rather than shareholder centric </li>
                    <li>Trust, the sine qua non condition of any human interaction</li>
                    <li>Creating easy access to our services</li>
                    <li>A well regulated environment made in Switzerland</li>
                    <li>Experimenting with new technologies to stay ahead of the curve</li>
                    <li>Creating enjoyable experiences and having fun</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- end section -->
