<!-- begin section -->
<section class="section token" id="chsb-token">
    <div class="l">
        <div class="token__top js-section-token">
            <div class="token__img l-col js-reveal">{{ mixins.image('token') }}</div>
            <div class="token__info l-col">
                <h2 class="token__title title title_white js-reveal">CHSB Token</h2>
                <div class="token__text text js-reveal">
                    <p>CHSB (SwissBorg Network Token) is a multi-utility token used to participate in the SwissBorg network.</p>
                    <ul>
                        <li>Participate in our referendums and earn tokens in reward</li>
                        <li>Get priority access to our future wealth management products</li>
                        <li>Additional incentives such as future airdrops</li>
                    </ul>
                </div>
                <a href="" class="button button_primary" style="display: none;">learn more</a>
            </div>
        </div>
    </div>

    <div class="container container_token">
        {% include "partials/_section-network.html" %}
        <div class="waves js-waves js-waves-token">
            {% include "waves/_wave-token.html" %}
        </div>
    </div>
</section>
<!-- end section -->
