{% set articles = [
    {
        date: 'Sep 21',
        title: 'Swarm Intelligence in action — SwissBorg’s Community Committee',
        text: 'Meet Carlos Cabrera: SwissBorg’s Business Developer in Toronto',
        image: 'img/article.jpg',
        tags: [
            {
                text: 'Crypto Quant Insight',
                active: true
            }
        ]
    },
    {
        date: 'Sep 21',
        title: 'SwissBorg Crypto Indices Are Live!',
        text: 'Meet Carlos Cabrera: SwissBorg’s Business Developer in Toronto',
        tags: [
            {
                text: 'Crypto Quant Insight'
            }
        ]
    }
] %}

<!-- begin section -->
<section class="section more-articles">
    <div class="l">
        <div class="more-articles__in">
            <div class="more-articles__box">
                <h4 class="more-articles__title">{{ moreArticlesTitle }}</h4>
                <div class="more-articles__items">
                    {% for item in articles %}
                        <div class="more-articles__item">
                            {% include "components/_article-box.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
