<!-- begin section -->
<section class="section cases">
    <div class="l">
        <div class="cases__in">
            <h2 class="cases__title cases__title_mob title js-reveal">Use Cases</h2>
            <div class="cases__info l-col">
                <h2 class="cases__title title js-reveal">Use Cases</h2>
                <div class="cases__text js-reveal">
                    <p>For banks, payment providers, exchanges and corporates. We should add some short description text here. For banks, payment providers, exchanges and corporates. We should add some short description text here.</p>
                </div>
                <a href="" class="button button_primary" style="display: none;">learn more</a>
            </div>
            <div class="cases__img l-col js-reveal">{{ mixins.image('cases') }}</div>
        </div>
    </div>
</section>
<!-- end section -->
