<!-- begin phone -->
<div class="phone">
    <div class="phone__frame" style="background-image: url({{ phone.frame }});"></div>
    <div class="phone__top">
        <div class="phone__amount">
            € <span class="">1,000.00</span>
        </div>
        <div class="phone__meta">
            <span class="green">+€150.23(23.5%)</span>
            <span class="grey">24h</span>
        </div>
    </div>
    <div class="phone__shape js-clip-shape" style="background-image: url({{ phone.shape }});">

    </div>
    <div class="phone__bottom" style="background-image: url({{ phone.img_bottom }});"></div>
</div>
<!-- end phone -->
