<nav class="sitemap">
    <!-- <div class="sitemap__col"> -->
        <div class="sitemap__block">
            <h4>Solutions</h4>
            <ul>
                <li><a href="">Our Ecosystem</a></li>
                <li><a href="">DAOs</a></li>
                <li><a href="">ISO Platform</a></li>
                <li><a href="">Cripto Indexes</a></li>
                <li><a href="">Smart Wallet</a></li>
                <li><a href="">Milti-Strategy Hedge Fund</a></li>
                <li><a href="">Blockchain Unchained</a></li>
            </ul>
        </div>
    <!-- </div> -->

    <!-- <div class="sitemap__col"> -->
        <div class="sitemap__block">
            <h4>About us</h4>
            <ul>
                <li><a href="">SwissBorg</a></li>
                <li><a href="">Careers</a></li>
            </ul>
        </div>
        <div class="sitemap__block">
            <h4>CHSB token</h4>
            <ul>
                <li><a href="">Referendum</a></li>
                <li><a href="">Rewards & Meritocracy</a></li>
                <li><a href="">Priority Invesment Product Access</a></li>
            </ul>
        </div>
    <!-- </div> -->

    <!-- <div class="sitemap__col"> -->
        <div class="sitemap__block">
            <h4>Resources</h4>
            <ul>
                <li><a href="">Blog</a></li>
                <li><a href="">Brand</a></li>
                <li><a href="">Press Releases</a></li>
            </ul>
        </div>
        <div class="sitemap__block">
            <h4>Contact</h4>
        </div>
    <!-- </div> -->
</nav>
