.icon-app-store {
  width: 4.23em;
  height: 1em;
  fill: #fff;
}
.icon-arrow-next {
  width: 1em;
  height: 1em;
  fill: #C4C4C4;
}
.icon-arrow-prev {
  width: 1em;
  height: 1em;
  fill: #C4C4C4;
}
.icon-arrow {
  width: 0.67em;
  height: 1em;
  fill: #fff;
}
.icon-bank {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-exchanges {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-folder {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-play {
  width: 4.43em;
  height: 1em;
  fill: #fff;
}
.icon-graph {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-guidelines {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-headshot {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1.13em;
  height: 1em;
  fill: #fff;
}
.icon-logo {
  width: 1em;
  height: 1em;
  fill: #01C38D;
}
.icon-more {
  width: 1.14em;
  height: 1em;
  fill: #01C38D;
}
.icon-owerview {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-payment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-scroll-down {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #696E79;
}
.icon-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
